---
import { Image } from 'astro:assets';
import { type VotosResponse} from '../types/VotosResponse';
// import React, { useState } from 'react';


const resp = await fetch('http://localhost:8080/listar')
const votos = await resp.json()

// if (Astro.request.method === "POST") {
//   try {
//       const data = await Astro.request.formData();
//       console.log(data);
//       const response = await fetch("http://localhost:8080/votos/save",
//         {
//           method: 'POST',
//           body: data,
//           });
//       return Astro.redirect("/login");
//   } catch (error) {
//     if (error instanceof Error) {
//       console.error(error.message);
//     }
//   }
// }

---
<form id="votosData" method="POST" >
  <div class="overflow-x-auto dark:bg-gray-800">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-gray-200">
      {
        votos.map((voto: VotosResponse, index:number) => 
        <div> 
          <div class="border-b border-slate-500 sm:border-b-1 sm:flex sm:justify-normal sm:px-6 sm:py-3 sm:items-stretch">
              <div class="px-2 py-3 sm:w-2/5 flex items-center">
                <img class="w-16 h-16 rounded-full" src={`/bandera/${voto.bandera}`} alt="Bandera" />
                <a class=" px-6 hover:underline">{voto.nombre}</a>
              </div>
              <div class="px-10 py-3 sm:w-3/4 flex items-center justify-between">
                <a class="text-blue-500 hover:underline" href={voto.cancionYoutube} target="_blank">{voto.cantante}: {voto.cancion}</a>
                <input type="hidden" id={`votos${index}.id`}  name={`votos[${index}].id`} value={voto.id} />
                <select id={`votos${index}.voto`} class="text-sm text-gray-300 bg-gray-700" name={`votos[${index}].voto`}>
                  <option value="0"></option>
                  <option value="1">1 Punto</option>
                  <option value="2">2 Puntos</option>
                  <option value="3">3 Puntos</option>
                  <option value="4">4 Puntos</option>
                  <option value="5">5 Puntos</option>
                  <option value="6">6 Puntos</option>
                  <option value="7">7 Puntos</option>
                  <option value="8">8 Puntos</option>
                  <option value="9">9 Puntos</option>
                  <option value="10">10 Puntos</option>
                  <option value="11">11 Puntos</option>
                  <option value="12">12 Puntos</option>
                </select>
              </div>
          </div>
        </div>
        )
      }
    </div>
    <div class="flex flex-col items-center m-8 border-slate-700" >
      <button type="submit" class="px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80 ">
        Enviar
      </button>
    </div>
  </div>
</form>